@model IEnumerable<Inventory.Models.SalesOrder>

@{
    ViewBag.Title = "Index";
}

@section Navigation{
    @Html.Partial("_NavBar", "Sales Log")
}

<table class="table table-bordered table-hover table-responsive">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectedProductQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.branch)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.selectedProductQuantity)
            </td>
            <td>
                @{ var totalp = item.selectedProductQuantity * item.total;}
                @totalp
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch)
            </td>

        </tr>
                    }

</table>
