@model IEnumerable<Inventory.Models.Product>

@{
    ViewBag.Title = "Index";
}

@section Navigation{
    @Html.Partial("_NavBar", "Product")
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { style = "color:white", @class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover table-responsive ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orgProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orgProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailPrice)
        </td>
        <td>
            @Html.ActionLink("Change Price", "Edit", new { id=item.id }) 
        </td>
    </tr>
}

</table>
