@model Inventory.Models.Purchase

@{
    ViewBag.Title = "Create";
}

@section Navigation{
    @Html.Partial("_NavBar", "Purchase Request")
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Send a Purchase Request</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        

        <div class="form-group">
            @Html.LabelFor(model => model.product, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.productID,
                                        new SelectList(Model.productList, "id", "orgProduct"), "--Select a Product--",
                                        new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.quantityReq, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantityReq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantityReq, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Request" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
